<main class="h-100">
  <section class="w-75 py-12 mx-auto">
    <div class="">
      <div class="jumbotron text-center">
        <h1 class="display-4">Quotes</h1>
        <p class="lead">
          Collect your favorite quotes and share them with your friends.
        </p>
        <hr class="my-4">
        <p>
          <a class="btn btn-primary btn-lg" role="button">Create Quote</a>
        </p>
      </div>
    </div>
  </section>
  <section id="quotes" class="w-75 mx-auto">
    <div class="row h-100">
      <div class="col-md-8">
        <h1>All Quotes</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <div class="d-flex w-100 justify-content-between align-items-center">
                  <div class="d-flex w-25  align-items-center justify-content-between">
                    <i class="fa fa-thumbs-up"></i>
                    <span class="ml-2">12</span>
                    <i class="fa fa-thumbs-down"></i>
                    <span class="ml-2">12</span>
                  </div>
                  <a href="#" class="btn btn-primary"><i class="fa fa-trash"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <div class="d-flex w-100 justify-content-between align-items-center">
                  <div class="d-flex w-25  align-items-center justify-content-between">
                    <i class="fa fa-thumbs-up"></i>
                    <span class="ml-2">12</span>
                    <i class="fa fa-thumbs-down"></i>
                    <span class="ml-2">12</span>
                  </div>
                  <a href="#" class="btn btn-primary"><i class="fa fa-trash"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h1>All Time Favorites</h1>
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <div class="d-flex w-100 justify-content-between align-items-center">
              <div class="d-flex w-25  align-items-center justify-content-between">
                <i class="fa fa-thumbs-up"></i>
                <span class="ml-2">12</span>
                <i class="fa fa-thumbs-down"></i>
                <span class="ml-2">12</span>
              </div>
              <a href="#" class="btn btn-primary"><i class="fa fa-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>