<main class="h-100">
  <section class="w-75 py-12 mx-auto">
    <div class="">
      <div class="jumbotron text-center">
        <h1 class="display-4">Quotes</h1>
        <p class="lead">
          Collect your favorite quotes and share them with your friends.
        </p>
        <hr class="my-4">
        <p>
          <a class="btn btn-primary btn-lg" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Create
            Quote</a>
        </p>
      </div>
    </div>
  </section>
  <section id="quotes" class="w-75 mx-auto">
    <div class="row h-100">
      <div class="col-md-8">
        <h4>All Quotes</h4>
        <div class="row">
          <app-quotes [quotes]='quotes'></app-quotes>

        </div>
      </div>
      <div class="col-md-4">
        <h4>All Time Favorite</h4>
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h5 class="card-title">{{quotes[0].author}}</h5>
            <p class="card-text">
              {{quotes[0].quote}}
            </p>
            <div class="d-flex w-100 justify-content-between align-items-center">
              <div class="d-flex w-25  align-items-center justify-content-between">
                <i class="fa fa-thumbs-up"></i>
                <span class="ml-2">{{quotes[0].upVotes}}</span>
                <i class="fa fa-thumbs-down"></i>
                <span class="ml-2">{{quotes[0].downVotes}}</span>
              </div>
              <a href="#" class="btn btn-primary"><i class="fa fa-trash"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Create Quote Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post Quote</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-form (newQuoteEvent)="pushQuote($event)"></app-form>

      </div>

    </div>
  </div>
</div>