/* You can add global styles to this file, and also import other style files */
/* Import fontawesome css */
@import url("https://use.fontawesome.com/releases/v5.0.6/css/all.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* End of reset */
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}
.btn-primary {
  background-color: #ed6e6e;
  border-color: #f8f9fa;
}

.btn-primary:hover {
  background-color: #efb9b9;
}
.backdrop {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGXX_khuSMMLASNZSLkIgobn9G2LegZ1uW1_ltwloGdIa8is9xhhfYu-VRTRzuy31vkbs&usqp=CAU");
}
